<div class="bg-stone" width="700" style="display: block !important;width:580px;margin-left:auto;margin-right:auto;" data-bsi-element="section-full-width">
    {% embed '../../template/content-wrapper.twig' %}
        {% block content %}
            <div data-bsi-dropzone="section-content-full-width"></div>
        {% endblock %}
    {% endembed %}
</div>
